<fieldset class="form">
  <div class="fieldcontain required">
    <label for="key">Key
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="key" id="key" ng-model="vm.app.key" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="name">Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="name" id="name" ng-model="vm.app.name" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="uuid">Uuid
      <span class="required-indicator">*</span>
    </label>
  </div>
</fieldset>